{#
 * @file
 * RealNav theme implementation to display a FAQ navigation.
 *
 * Available variables:
 * - topics: all topics from the Topic vocabulary, and a 'All' topic
 *   - active: boolean tru if current topic
 *   - url: topic url already aliased
 *   - name: Topic name
 *   - teaser: Topic rendered in teaser mode
#}
<ul id="nav-topics" class="nav nav-pills nav-fill mb-3">
{% for topic in topics %}
  <li class="nav-item">
    <a class="nav-link {{ topic.active ? 'active' : '' }}" href="{{ topic.url }}">{{ topic.name }}</a>
  </li>
{% endfor %}
</ul>